<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Vamshi - N01546921</h1>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>vamshipeesari08@gmail.com</p>
    </footer>
  </body>
</html>
